<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <button v-on:click="test"></button>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import axiosInstance from '../utils/axios.js'

export default {
  name: 'Home',
  components: {
    HelloWorld
  },
  methods: {
    async test() {
      await axiosInstance.get(`/users`).then((res) => {
        console.log(res)
      })
    }
  }
}
</script>
